<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Сервис для анализа происходящих в мире событий, позволяющий установить, насколько популярны новости на определённую тему.">
    <meta name="author" content="Ирина Сасс">
    <title>NewsAnalyzer</title>
    <link rel="icon" href="<%=require('../images/favicon.ico').default%>">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>
    <div class="page">
        <div class="content">
            <header class="header section">
                <a href="./index.html" class="header__logo link link_theme_dark">NewsAnalyzer</a>
                <nav class="header__nav">
                    <ul class="menu-row">
                        <li class="menu-row__item  header__nav-item"><a href="./index.html" target="_self"
                                class="link header__link header__link_theme_dark header__link_active_theme-dark">Главная</a>
                        </li>
                        <li class="menu-row__item header__nav-item"><a href="./about.html" target="_self"
                                class="link header__link header__link_theme_dark">О проекте</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <section class="search section">
                    <div class="search__content">
                        <h1 class="search__title">Что в мире творится?</h1>
                        <p class="text search__text">Введите в поиске любую тему и узнайте, насколько популярной она
                            была в новостях за прошедшую неделю.</p>
                        <form class="search__form" novalidate>
                            <input type="search" placeholder="Введите тему новости" class="search__field" required
                                minlength="2">
                            <span class="search__form-error"></span>
                            <button type="submit"
                                class="button search__button search__button_active button_theme_sky">Искать</button>
                        </form>
                    </div>
                </section>
                <section class="result-search">
                    <div class="preloader">
                        <i class="circle-preloader"></i>
                        <p class="text preloader__text">Идет поиск новостей...</p>
                    </div>
                    <div class="error">
                        <img src="<%=require('../images/not-found_v1.svg').default%>" alt="Ошибка загрузки"
                            class="error__image">
                        <p class="title title_small"></p>
                        <p class="text error__text"></p>
                    </div>
                    <div class="result section">
                        <div class="container-title">
                            <h2 class="title title_big">Результаты поиска</h2>
                            <a href="./analytics.html" target="_self" class="link container-title__link">Посмотреть
                                аналитику</a>
                        </div>
                        <div class="cards"></div>
                        <button class="button result__button">Показать еще</button>
                    </div>
                </section>

                <section class="about-author section">
                    <picture class="about-author__container-photo">
                        <source
                            srcset="<%=require('../images/photo-author-2x.jpg').default%> 2x, <%=require('../images/photo-author.jpg').default%> 1x"
                            class="about-author__photo">
                        <img src="<%=require('../images/photo-author.jpg').default%>" alt="фото автора"
                            class="about-author__photo">
                    </picture>
                    <div class="about-author__description">
                        <h2 class="title title_big about-author__title">Об авторе</h2>
                        <p class="text about-author__text">Меня зовут Ирина Сасс. Я Прошла курс Яндекс.Практикума по
                            специальности фронтенд-разработчик, где изучала HTML5, CSS3 и JavaScript. Научилась верстать
                            адаптивные и кроссбраузерные сайты, собирать проекты с помощью Webpack, работать с системой
                            контроля версий Git, а также писать код по БЭМ методологии.</p>


                    </div>
                </section>
            </main>

            <footer class="footer section">
                <p class="footer__copyright">© 2020 Supersite</p>
                <nav class="footer__nav">
                    <ul class="menu-row footer__menu">
                        <li class="menu-row__item footer__nav-item"><a href="./index.html" target="_self"
                                class="link footer__link">Главная</a></li>
                        <li class="menu-row__item footer__nav-item"><a href="./about.html" target="_self"
                                class="link footer__link">О проекте</a></li>
                        <li class="menu-row__item footer__nav-item"><a href="https://praktikum.yandex.ru/"
                                target="_blank" class="link footer__link">Яндекс.Практикум</a></li>
                    </ul>
                </nav>
                <div class="footer__social">
                    <a href="https://github.com/Irina-Sass" target="_blank" class="link footer__social-link">
                        <img src="<%=require('../images/github.svg').default%>" alt="github"
                            class="footer__social-icons">
                    </a>
                    <a href="https://www.facebook.com/" target="_blank" class="link footer__social-link">
                        <img src="<%=require('../images/fb.svg').default%>" alt="fb" class="footer__social-icons">
                    </a>
                </div>
            </footer>
        </div>
    </div>

    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
</body>

</html>