@import url(__item/breadcrumb__item.css);
@import url(__link/breadcrumb__link.css);
@import url(__item/_active/breadcrumb__item_active.css);

.breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 575px) {
    .breadcrumb {
        display: none;
    }
}