@import url(_inverted/table__bar_inverted.css);

.table__bar {
   height: 24px; 
   background-color: #2F71E5;   
   color: #fff; 
   font-weight: bold;
   box-sizing: border-box;
   padding: 4px 6px;   
}
