.footer__copyright {
    color: #B6BCBF;      
    font-size: 16px;
    line-height: 22px;   
    margin: 0; 
}

@media (max-width: 575px) {
    .footer__copyright {
        order: 1;
        width: 100%;
        padding-top: 17px;
        padding-bottom: 22px;
    }
}