.search__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media (max-width: 575px) {
    .search__form {
        flex-direction: column;
    }
}