@import url(__content/search__content.css);
@import url(__title/search__title.css);
@import url(__text/search__text.css);
@import url(__form/search__form.css);
@import url(__field/search__field.css);
@import url(__button/search__button.css);
@import url(__button/_active/search__button_active.css);
@import url(__form-error/search__form-error.css);

.search {
    background-image: url(../../images/search-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;         
    margin-top: -80px;
    padding-top: 80px; 
          
}

@media (max-width: 1023px) {
    .search {        
        padding-top: 64px; 
        margin-top: -64px;
    }
}

