<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Сервис для анализа происходящих в мире событий, позволяющий установить, насколько популярны новости на определённую тему.">
    <meta name="author" content="Ирина Сасс">
    <title>NewsAnalyzer</title>
    <link rel="icon" href="<%=require('../images/favicon.ico').default%>">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.about.css %>">
</head>

<body>
    <div class="page">
        <div class="content">
            <header class="header section">
                <div class="header__logo">
                    <a href="./index.html" class="link link_theme_light">NewsAnalyzer</a>
                </div>
                <nav class="header__nav">
                    <ul class="menu-row">
                        <li class="menu-row__item  header__nav-item"><a href="./index.html" target="_self"
                                class="link header__link header__link_theme_light">Главная</a></li>
                        <li class="menu-row__item header__nav-item"><a href="./about.html" target="_self"
                                class="link header__link header__link_theme_light header__link_active_theme-light">О
                                проекте</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <section class="clients section">
                    <h1 class="title title_big clients__title">Клиентам</h1>
                    <p class="text clients__text">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель —
                        показать, чему научился студент, какими технологиями владеет.</p>
                    <p class="text clients__text">Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и
                        масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в
                        проектах, выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.
                    </p>
                    <p class="text clients__text">Карточки с новостями приходят с сервера и обрабатываются асинхронно.
                        То есть сайт продолжает работать, пока от сервера приходит ответ. Это повышает удобство
                        использования сервиса.
                    </p>
                    <p class="text clients__text">При создании проекта была использована сборка технологией Webpack. Это
                        современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее.
                        Также сайт работает в старых браузерах. Даже если посетители — пользователи старых операционных
                        систем, у них не будет проблем с отображением. А значит, потенциальная аудитория возрастает.
                    </p>
                    <p class="text clients__text">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу
                        нужен сайт, мы рекомендуем обратиться к этому студенту.</p>
                </section>
                <section class="tech section">
                    <h2 class="title title_big tech__title">Используемые технологии</h2>
                    <div class="tech-container">
                        <div class="tech-item">
                            <p class="text tech-item__name">HTML</p>
                            <img src="<%=require('../images/html.png').default%>" alt="HTML" class="tech-item__logo">
                        </div>
                        <div class="tech-item">
                            <p class="text tech-item__name">CSS</p>
                            <img src="<%=require('../images/css.png').default%>" alt="CSS" class="tech-item__logo">
                        </div>
                        <div class="tech-item">
                            <p class="text tech-item__name">Java Script</p>
                            <img src="<%=require('../images/js.png').default%>" alt="Java Script"
                                class="tech-item__logo">
                        </div>
                        <div class="tech-item">
                            <p class="text tech-item__name">Webpack</p>
                            <img src="<%=require('../images/webpack.png').default%>" alt="Webpack"
                                class="tech-item__logo">
                        </div>
                    </div>
                </section>
                <section class="about-author section">
                    <picture class="about-author__container-photo">
                        <source
                            srcset="<%=require('../images/photo-author-2x.jpg').default%> 2x, <%=require('../images/photo-author.jpg').default%> 1x"
                            class="about-author__photo">
                        <img src="<%=require('../images/photo-author.jpg').default%>" alt="фото автора"
                            class="about-author__photo">
                    </picture>
                    <div class="about-author__description">
                        <h2 class="title title_big about-author__title">Об авторе</h2>
                        <p class="text about-author__text">Это блок с описанием автора проекта. Здесь следует указать,
                            как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p>
                        <p class="text about-author__text">Также можно рассказать о процессе обучения в Практикуме, чему
                            вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
                    </div>
                </section>
                <section class="history">
                    <div class="container-title history__container-title section">
                        <h2 class="title title_big history__title">История коммитов из GitHub</h2>
                        <a href="https://github.com/Irina-Sass/" target="_blank"
                            class="link container-title__link history__title-link">Открыть в Github</a>
                    </div>
                    <div class="swiper-container swiper-container__gradient">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide commit">
                                <p class="commit__date">14 августа 2019 года</p>
                                <div class="commit__commiter">
                                    <img src="<%=require('../images/avatar-1.jpg').default%>" alt="фото автора"
                                        class="commit__commiter-avatar">
                                    <div class="commit__commiter-info">
                                        <h3 class="title title_small commit__title">Антон Долинин</h3>
                                        <p class="commit__commiter-email">anton@yandex.ru</p>
                                    </div>
                                </div>
                                <p class="text commit__message">Emmet (formerly Zen Coding) is a web-developer’s toolkit
                                    that can greatly improve your HTML & CSS workflow.</p>
                            </div>
                            <div class="swiper-slide commit">
                                <p class="commit__date">14 августа 2019 года</p>
                                <div class="commit__commiter">
                                    <img src="<%=require('../images/avatar-2.jpg').default%>" alt="фото автора"
                                        class="commit__commiter-avatar">
                                    <div class="commit__commiter-info">
                                        <h3 class="title title_small commit__title">Мария Фёдорова</h3>
                                        <p class="commit__commiter-email">mariiifed@yandex.ru</p>
                                    </div>
                                </div>
                                <p class="text commit__message">You can install this plugin directly from NetBeans
                                    Plugin Portal: in NetBeans, open Tools > Plugins > Available plugins and find and
                                    install Emmet plugin.</p>
                            </div>
                            <div class="swiper-slide commit">
                                <p class="commit__date">14 августа 2019 года</p>
                                <div class="commit__commiter">
                                    <img src="<%=require('../images/avatar-3.jpg').default%>" alt="фото автора"
                                        class="commit__commiter-avatar">
                                    <div class="commit__commiter-info">
                                        <h3 class="title title_small commit__title">Инга Иванова</h3>
                                        <p class="commit__commiter-email">ingaiva@yandex.ru</p>
                                    </div>
                                </div>
                                <p class="text commit__message">With Emmet, you can type CSS-like expressions that can
                                    be dynamically parsed, and produce output depending on what you type in the abb...
                                </p>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev swiper-container__button swiper-container__button_prev"></div>
                        <div class="swiper-button-next swiper-container__button swiper-container__button_next"></div>
                    </div>
                </section>
            </main>
            <footer class="footer section">
                <p class="footer__copyright">© 2019 Supersite</p>
                <nav class="footer__nav">
                    <ul class="menu-row footer__menu">
                        <li class="menu-row__item footer__nav-item"><a href="./index.html" target="_self"
                                class="link footer__link">Главная</a></li>
                        <li class="menu-row__item footer__nav-item"><a href="./about.html" target="_self"
                                class="link footer__link">О проекте</a></li>
                        <li class="menu-row__item footer__nav-item"><a href="https://praktikum.yandex.ru/"
                                target="_blank" class="link footer__link">Яндекс.Практикум</a></li>
                    </ul>
                </nav>
                <div class="footer__social">
                    <a href="https://github.com/Irina-Sass" target="_blank" class="link footer__social-link">
                        <img src="<%=require('../images/github.svg').default%>" alt="github"
                            class="footer__social-icons">
                    </a>
                    <a href="https://www.facebook.com/" target="_blank" class="link footer__social-link">
                        <img src="<%=require('../images/fb.svg').default%>" alt="fb" class="footer__social-icons">
                    </a>
                </div>
            </footer>
        </div>
    </div>

    <script src="<%= htmlWebpackPlugin.files.chunks.about.entry %>"></script>
</body>

</html>