.search__field {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #D1D2D6;
    border-radius: 100px;
    font-family: 'Roboto', 'Arial', 'Helvetica', 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    padding-left: 24px;
    transition: box-shadow .5s;
}

.search__field:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(13, 90, 226, 0.9);
}

.search__field::placeholder {
    font-family: 'Roboto', 'Arial', 'Helvetica', 'Nimbus Sans L', sans-serif;
    color: #B6BCBF; 
}

@media (max-width: 1023px) {
    .search__field {
        height: 56px;
    }
}

@media (max-width: 575px) {
    .search__field {
        padding-left: 16px;
    }
}