@import url(__link/container-title__link.css);

.container-title {
    display: flex;
    justify-content: space-between;  
    padding-bottom: 64px;  
}

@media (max-width: 1023px) {
    .container-title {
        padding-bottom: 32px;
    }
}

@media (max-width: 575px) {
    .container-title  {
        flex-direction: column; 
        padding-bottom: 35px;       
    }
}
